body {
    background-color: #f6f5f3;
}

.card {
    background-color: #f9f8fd;
    margin-top: 125px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    margin: 10px;
    margin-left: 35%;
    background-color: #7dce94;
}

#logo {
    margin-left: 37%;
    height: 100px;
    width: 150px;
    padding:10px;
}
/* .form-group {
    text-align: center;
    margin-left: 30%;
} */

.form-check {
    margin-left: 25%;
}