body {
    padding: 20px;
    background-color: #f6f5f3;
    text-align: center;
}

.h {
  font-size: 35px;
  width: 100%;
}

#boddy {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.navbuffer {
    margin-left:450px;
}


.card {
    background-color: #f9f8fd;
    /* margin-top: 125px; */
    /* width: 85%; */
}

.progress {
  width: 875px;
  border-radius: 50px;
  background-color: inherit;
}

.bartitle {
  margin-bottom: 30px;
}

.chartitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

#logo {
    margin-left: 5%;
    height: 50px;
    padding:10px;
    margin-right: 5%;
}
