body {
    padding: 20px;
    background-color: #f6f5f3;
}

#boddy {
  margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.navbuffer {
    margin-left:400px;
}

.card {
    background-color: #f9f8fd;
    /* margin-top: 125px; */
    /* width: 85%; */
}
.textInfo {
  margin-left: 2%;
  font-size: 20px;
}
.info {
  padding: 20px 20px 20px 20px;
  margin-left: 0%;
  text-align: center;
  font-size: 20px;
}
#logo {
    margin-left: 10%;
    height: 50px;
    padding:10px;
    margin-right: 85px;
}

#inputpic {
  padding: 20px 20px 20px 20px;
}

#propicb {
  text-align: center;
}

#propic {
  margin: auto;
  height: 300px;
  width: auto;
}
