<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="mytasks.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home.html"><img src="../images/logoz.png" id="logo" alt="Split Logo"></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="tasks.html">Add Chores</a>
          <a class="nav-item nav-link active" href="mytasks.html">My Chores<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="roommates.html">Roommates</a>
          <a class="nav-item nav-link" href="me.html">My Profile</a>
          <div class="navbuffer"> </div>
          <a class="nav-item nav-link" href="../index.html">Log Out</a>
          <a class="nav-item nav-link"><i class="material-icons">settings</i></a>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-10" id="boddy">
        <div class="card">
          <h3 class="card-header">
            My Chores
            <a class="info" data-toggle="tooltip" title = "Check off chores once you complete them. Once all assigned chores are marked done, a button will appear to submit chores and you will earn your points."><i class="fas fa-info-circle"></i></a>
            <button id="done" type="button" onclick="clearlist()">Done</button>
          </h3>
        </div>

        <ul id="myUL" class="list-group">
        </ul>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="mytasks.js"></script>
</body>
</html>
